mat-table{
  overflow: auto;
  max-height: 600px;
}

.action-column{
  flex: 0 0 75px;
}

.action-column-header{
  flex: 0 0 75px;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

mat-form-field{
  overflow: auto;
  width: 100%;
}

